<template>
  <div class="card__front-side__foot">
    <div class="card__front-side__foot__name">
      <h3>имя на карте</h3>
      <input type="text" v-model="cardName" @input="handleName" :readonly="getIsReadOnly">
    </div>
    <div class="card__front-side__foot__validity">
      <h3>срок действия</h3>
      <div class="card__front-side__foot__validity__dropdown_wrap">
        <div class="card__front-side__foot__validity__dropdown">
          <input type="number" @input="mounthLength" :value="mounth" @click="getIsReadOnly == false ? showMounth = !showMounth : showMounth = false" max="2" :readonly="getIsReadOnly">
          <transition name="fade">
            <ul v-if="showMounth">
              <li v-for="(i, index) in mounthArr" @click="handleMounth(i)" :key="index">{{i}}</li>
            </ul>
          </transition>
        </div>
        <span>/</span>
        <div class="card__front-side__foot__validity__dropdown">
          <input type="number" @input="yearLength" :value="year" @click="getIsReadOnly == false ? showYear = !showYear : showYear = false" max="4" :readonly="getIsReadOnly">
          <transition name="fade">
            <ul v-if="showYear">
              <li v-for="(i, index) in yearArr" @click="handleYear(i)" :key="index">{{i}}</li>
            </ul>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapMutations, mapGetters} from 'vuex'
export default {
  data() {
    return {
      cardName: '',
      mounth: '',
      year: '',
      yearArr: [],
      mounthArr: [],
      showMounth: false,
      showYear: false,
    }
  },
  computed: mapGetters(["getIsReadOnly"]),
  methods: {
    ...mapMutations(["updateCardName", "updateCardMounth", "updateCardYear"]),
    handleName() {
      this.updateCardName(this.cardName)
    },
    handleMounth(value) {
      this.mounth = value
      this.updateCardMounth(value) 
      this.showMounth = false
    },
    handleYear(value) {
      this.year = value
      this.updateCardYear(value) 
      this.showYear = false
    },
    mounthLength(e) {
      const value = e.target.value
      if (String(value).length <= 2) {
        this.mounth = value
        this.updateCardMounth(value) 
      }
      this.$forceUpdate()
    },
    yearLength(e) {
      const value = e.target.value
      if (String(value).length <= 4) {
        this.year = value
        this.updateCardYear(value) 
      }
      this.$forceUpdate()
    }
  },
  mounted() {
    for(let i = 1; i <= 12; i++) {
      this.mounthArr.push(i)
    }
    for(let i = 2021; i <= 2050; i++) {
      this.yearArr.push(i)
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>