<template>
<div>
  <h3>номер карты</h3>
  <div class="card__front-side__number">
    <input type="text" v-for="i in 4" :key="i" :ref="'cardNumber_' + i" @input="cardNumber('cardNumber_' + i)" maxlength="4" :readonly="getIsReadOnly" required>
  </div>
</div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

export default {
  data() {
    return {
      value: [],
      counter: ''
    }
  },
  computed: mapGetters(["getIsReadOnly"]),
  methods: {
    ...mapMutations(["updateCardNumber"]),
    cardNumber(val) {
      if (this.$refs[val]?.[0].value.length == 4) {
        this.value.push(this.$refs[val]?.[0].value)
        if (val == 'cardNumber_4') {
          if (this.value.length == 4) {
            this.value.forEach(item => {
              if (item.length == 4) {
                this.updateCardNumber(this.value)
              }
            })
          }
        } else {
          this.counter = +val[val.length - 1] + 1
          this.$refs[val.slice(0, -1) + this.counter][0].focus()
        }
      }
    }
  },
}
</script>

<style>

</style>