<template>
  <div class="Pay">
      <div class="Pay__block">
        <div class="Pay__block__error" v-for="(i, index) in errorMessage" :key="index">
          <span v-if="i != ''">* {{i}}</span>
        </div>
        <input class="Pay__block__sum" type="number" v-model="sum" @input="sumChange" placeholder="Сумма платежа" :readonly="getIsReadOnly">
        <div class="Pay__block__commission">
          <p>Коммиссия:</p>
          <p>{{commission}} т</p>
        </div>
        <div class="Pay__block__result">
          <p>Итоговая сумма:</p>
          <p>{{resultSum}} т</p>
        </div>
        <button class="Pay__block__btn" @click="pay">
          <Loader v-if="loader" />
          <span>Оплатить</span>
        </button>
        <label class="Pay__block__checkbox">
          <input type="checkbox" v-model="checked" >
          <p>Я ознакомлен и <span>присоединяюсь к договору</span></p>
        </label>
        <p class="Pay__block__text">Коммиссия может быть удержана банком эмитентом карты отправителя</p>
      </div>
  </div>
</template>

<script>
import Loader from './Loader.vue'
import { mapGetters, mapMutations } from 'vuex'
export default {
  data() {
    return {
      commission: 0,
      resultSum: 0,
      sum: '',
      loader: false,
      checked: false,
      errorMessage: {
        getCardNumber: '',
        getCardName: '',
        getCardMounth: '',
        getCardYear: '',
        getCardCCV: '',
        sum: '',
        checked: ''
      },
    }
  },
  components: {
    Loader
  },
  computed: mapGetters(["getCardNumber", "getCardName", "getCardMounth", "getCardYear", "getCardCCV", "getIsReadOnly"]),
  methods: {
    ...mapMutations(["updateReadOnly", "updateCommission", "updateResultSum"]),
    sumChange() {
      if (this.sum > 500) {
        this.commission = (this.sum / 100 * 1).toFixed(0)
        this.resultSum = +this.commission + +this.sum
        this.updateResultSum(this.resultSum)
        this.updateCommission(this.commission)
      } else {
        this.resultSum = this.sum
        this.commission = 0
        this.updateResultSum(this.resultSum)
        this.updateCommission(this.commission)
      }  
    },

    luhnAlgorithm(value) {
      value = value.replace(/\D/g, '');
      var nCheck = 0;
      var bEven = false;
      for (var n = value.length - 1; n >= 0; n--) {
          var nDigit = parseInt(value.charAt(n), 10);

          if (bEven && (nDigit *= 2) > 9) {
              nDigit -= 9;
          }

          nCheck += nDigit;
          bEven = !bEven;
      }
      return (nCheck % 10) == 0;
    },

    pay() {
      this.loader = true
      setTimeout(() => {
        if (this.checked) {
          this.errorMessage.checked = ''
        } else {
          this.errorMessage.checked = 'Подтвердите ознакомление с договором'
        }

        if (!this.sum) {
          this.errorMessage.sum = 'Введите сумму платежа'
        } else {
          this.errorMessage.sum = ''
        }

        if (this.getCardNumber.length < 4) {
          this.errorMessage.getCardNumber = 'Заполните номер карточки'
        } else {
          let a = ''
          this.getCardNumber.forEach(item => {
            a = a + item 
          })
          if (this.luhnAlgorithm(a)) {
            this.errorMessage.getCardNumber = ''
          } else {
            this.errorMessage.getCardNumber = 'Такой карты не существует'
          }
        }
        if (this.getCardName.length < 4) {
          this.errorMessage.getCardName = 'Заполните ваше имя с карточки'
        } else {
          this.errorMessage.getCardName = ''
        }

        if (this.getCardMounth == '') {
          this.errorMessage.getCardMounth = 'Укажите месяц окончания действия карты'
        } else {
          this.errorMessage.getCardMounth = ''
        }

        if (this.getCardYear == '' && this.getCardYear < 3) {
          this.errorMessage.getCardYear = 'Укажите год окончания действия карты'
        } else {
          this.errorMessage.getCardYear = ''
        }

        if (this.getCardCCV.length !== 3) {
          this.errorMessage.getCardCCV = 'Укажите CCV код с карточки'
        } else {
          this.errorMessage.getCardCCV = ''
        }

        let counter = 0
        for (let val in this.errorMessage) {
          if (this.errorMessage[val] == '') {
            counter++
          }
        }
        if (counter == 7) {
          this.updateReadOnly(true)
          if (Math.random() < 0.5) {
            this.$router.push('/PaySuccess')
          } else {
            this.$router.push('/PayError')
          }
        } else {
          this.updateReadOnly(false) 
        }

        this.loader = false
      }, 1000)
    }
  }
}
</script>

<style>

</style>