<template>
  <div class="Pay">
      <div class="Pay__block">
        <div class="Pay__block__img">
          <img src="/assets/img/error.png" alt="">
        </div>
        <div class="Pay__block__title">
          <h3>Ошибка платежа</h3>
        </div>
        <div class="Pay__block__p">
          <p>Попробуйте еще раз</p>
        </div>
        <router-link to="/PaySuccess" tag="button" class="Pay__block__btn">
          <span>Повторить</span>
        </router-link>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>