<template>
  <div class="Pay">
      <div class="Pay__block">
        <div class="Pay__block__img">
          <img src="/assets/img/success.png" alt="">
        </div>
        <div class="Pay__block__title">
          <h3>Перевод совершен</h3>
        </div>
        <div class="Pay__block__p">
          <p>Отправитель: {{getCardName}}</p>
          <p>Сумма: {{getResultSum}}</p>
          <p>Коммиссия: {{getCommission}}</p>
        </div>
        <button @click="reload()" class="Pay__block__btn">
          <span>Ок</span>
        </button>
      </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: mapGetters(["getCardName", "getCommission", "getResultSum"]),
  methods: {
    reload() {
      this.$router.push('/')
      window.location.reload()
    }
  }
}
</script>

<style>

</style>