@mixin app($function) {
  ::-webkit-scrollbar {
    width: call(get-function($function), 10px);
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  * {
    p {
      padding: 0;
      margin: 0;
    }
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
  }
  .myApp {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: call(get-function($function), 960px);
    width: call(get-function($function), 960px);
    .card {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100vh;
      position: relative;
      flex: 0 1 60%;
      h3 {
        text-transform: uppercase;
        color: #fff;
        font-size: call(get-function($function), 18px);
        font-weight: 100;
        margin-top: call(get-function($function), 25px);
      }
      &__front-side {
        background-image: url('/assets/img/red.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        min-height: call(get-function($function), 350px);
        z-index: 2;
        padding: call(get-function($function), 15px);
        &__head {
          display: flex;
          justify-content: flex-end;
          padding: call(get-function($function), 15px) 0;
          img {
            &:first-child {
              margin-right: call(get-function($function), 15px);
            }
          }
        }
        &__number {
          display: flex;
          justify-content: space-between;
          align-items: center;
          input {
            display: flex;
            flex: 0 0 20%;
            width: 100%;
            padding: call(get-function($function), 5px) call(get-function($function), 10px);
            height: call(get-function($function), 45px);
            border-radius: call(get-function($function), 15px);
            background: rgba(#741D30, .5);
            border: none;
            color: #fff;
            &:focus {
              outline: none;
            }
          }
        }
        &__foot {
          display: flex;
          justify-content: space-between;
          &__name {
            display: flex;
            flex-direction: column;
            flex: 0 0 60%;
            input {
              display: flex;
              width: 90%;
              padding: call(get-function($function), 5px) call(get-function($function), 10px);
              height: call(get-function($function), 45px);
              border-radius: call(get-function($function), 15px);
              background: rgba(#741D30, .5);
              border: none;
              color: #fff;
              &:focus {
                outline: none;
              }
            }
          }
          &__validity {
            display: flex;
            flex-direction: column;
            flex: 0 0 40%;
            span {
              color: #fff;
              margin-right: call(get-function($function), 5px);
            }
            input {
              display: flex;
              width: 75%;
              padding: call(get-function($function), 5px) call(get-function($function), 10px);
              height: call(get-function($function), 45px);
              border-radius: call(get-function($function), 15px);
              background: rgba(#741D30, .5);
              border: none;
              color: #fff;
              &:focus {
                outline: none;
              }
            }
            &__dropdown_wrap {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            &__dropdown {
              position: relative;
              display: flex;
              ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                height: call(get-function($function), 100px);
                overflow-y: auto;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: rgba(#741D30, .5);
                li {
                  color: #fff;
                  cursor: pointer;
                  &:hover {
                    background: rgba(#741D30, .8);
                  }
                }
              }
            }
          }
        }
      }
      &__back-side {
        min-height: call(get-function($function), 350px);
        position: absolute;
        z-index: 1;
        background-color: #ccc;
        width: call(get-function($function), 600px);
        border-radius: call(get-function($function), 30px);
        left: 3%;
        top: 43%;
        display: flex;
        justify-content: flex-end;
        &__block {
          display: flex;
          align-self: flex-end;
          flex: 0 0 40%;
          padding: call(get-function($function), 15px);
          justify-content: space-between;
          input {
            display: flex;
            width: 75%;
            padding: call(get-function($function), 5px) call(get-function($function), 10px);
            height: call(get-function($function), 45px);
            border-radius: call(get-function($function), 15px);
            background: rgba(#741D30, .5);
            border: none;
            color: #fff;
            margin-left: call(get-function($function), 15px);
            &:focus {
              outline: none;
            }
          }
        }
        &::before {
          content: '';
          position: absolute;
          background-color: #000;
          top: 25%;
          width: 100%;
          height: call(get-function($function), 60px);
        }
      }
    }
    .Pay {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100vh;
      position: relative;
      flex: 0 1 40%;
      &__block {
        display: flex;
        flex-direction: column;
        padding-left: 25%;
        width: 100%;
        &__title {
          h3 {
            color: #ccc;
            font-size: call(get-function($function), 22px);
            text-align: center;
            font-weight: 100;
          }
        }
        &__p {
          margin-bottom: call(get-function($function), 25px);
          p {
            color: #ccc;
            font-size: call(get-function($function), 18px);
            text-align: center;
          }
        }
        &__img {
          display: flex;
          justify-content: center;
          img {
            width: call(get-function($function), 150px);
            height: call(get-function($function), 150px);
          }
        }
        &__error {
          padding-bottom: call(get-function($function), 15px);
          span {
            color: red;
            width: 100%;
            font-size: call(get-function($function), 16px);
          }
        }
        &__commission {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: call(get-function($function), 15px);
          p {
            color: #ccc;
            font-size: call(get-function($function), 18px);
          }
        }
        &__result {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: call(get-function($function), 15px);
          p {
            color: #ccc;
            font-size: call(get-function($function), 18px);
          }
        }
        &__sum {
          border-radius: call(get-function($function), 30px);
          border: 1px solid #000;
          padding: call(get-function($function), 10px) call(get-function($function), 15px);
          padding-top: call(get-function($function), 14px);
          margin-bottom: call(get-function($function), 35px);
          &:focus {
            outline: none;
          }
          &::placeholder {
            text-transform: uppercase;
            color: #ccc;
            text-align: center;
            vertical-align: middle;
            line-height: call(get-function($function), 45px);
            font-size: call(get-function($function), 20px);
          }
        }
        &__btn {
          cursor: pointer;
          background: #e3004c;
          border: none;
          border-radius: call(get-function($function), 50px);
          color: #fff;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: call(get-function($function), 12px) call(get-function($function), 15px);
        }
        &__checkbox {
          display: flex;
          padding-top: call(get-function($function), 25px);
          padding-bottom: call(get-function($function), 20px);
          p {
            color: #ccc;
            font-size: call(get-function($function), 18px);
            cursor: pointer;
            text-align: center;
            span {
              color: #e3004c;
            }
          }
        }
        &__text {
          width: 100%;
          color: #ccc;
          text-align: center;
          font-size: call(get-function($function), 18px);
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .myApp .card__back-side {
      top: 45%;
    }
  }
  @media (max-width: 768px) {
    .myApp {
      max-width: get-vw-768(700px);
    }
    .myApp .card__back-side {
      width: get-vw-768(425px);
      top: 40%;
    }
    .myApp .card__front-side {
      min-height: get-vw-768(250px);
    }
  }
  @media (max-width: 560px) {
    .myApp .Pay__block {
      margin-top: 100px;
    }
    .myApp {
      flex-direction: column;
      margin-top: 75px;
      margin-bottom: 25px;
    }
    .card, .Pay {
      flex: 0 1 100%!important;
    }
    .myApp .Pay__block {
      padding-left: 0px;
    }
    .myApp .card__back-side {
      width: 100%;
      top: 30%;
    }
    .myApp .card__front-side__number input {
      flex: 0 0 17%;
    }
    .myApp .card h3 {
      font-size: 3vw;
    }
    .myApp .card__front-side__foot__name input {
      width: 80%;
    }
  }
  @media (max-width: 480px) {
    .myApp .card__back-side {
      width: 100%;
      top: 12%;
    }
  }
  @media (max-width: 360px) {
    
  }
}