<template>
  <div class="myApp">
    <div class="card">
      <div class="card__front-side">
        <div class="card__front-side__head">
          <img src="/assets/img/mc.svg" alt="">
          <img src="/assets/img/visa.svg" alt="">
        </div>
        <CardNumber />
        <CardValidity />
      </div>
      <div class="card__back-side">
        <div class="card__back-side__block">
          <h3>ccv/cvc</h3>
          <input type="number" :value="ccv" @input="ccvHandle" :readonly="getIsReadOnly">
        </div>
      </div>
    </div>
      <router-view />
  </div>
</template>

<script>
import CardNumber from './CardComponents/CardNumber.vue'
import CardValidity from './CardComponents/CardValidity.vue'
import {mapMutations, mapGetters} from 'vuex'

export default {
  data() {
    return {
      ccv: ''
    }
  },
  computed: mapGetters(["getIsReadOnly"]),
  methods: {
    ...mapMutations(["updateCardCCV"]),
    ccvHandle(e) {
      const value = e.target.value
      if (String(value).length <= 3) {
        this.ccv = value
        this.updateCardCCV(this.ccv)
      }
      this.$forceUpdate()
    }
  },
  components: {
    CardNumber,
    CardValidity
  }
}
</script>

<style>

</style>